<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="light"> Job Search </ion-title>
  </ion-toolbar>
  @if (loading) {
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar
      [debounce]="1000"
      [ngModel]="searchInput()"
      (ngModelChange)="searchInput.set($event)"
    ></ion-searchbar>
  </ion-item>
  <ion-item>
    <!-- https://www.angulararchitects.io/en/blog/angular-signals-your-architecture-5-options/ -->
    <ion-select
      label="Industry"
      [interfaceOptions]="industryPopoverOptions"
      interface="action-sheet"
      placeholder="Select industry"
      [ngModel]="selectedIndustry()"
      (ngModelChange)="selectedIndustry.set($event)"
    >
      <ion-select-option value="">Any industry</ion-select-option>
      @for (industry of industries; track industry.industryID) {
      <ion-select-option value="{{industry.industrySlug}}"
        >{{industry.industryName}}</ion-select-option
      >
      }
    </ion-select>
  </ion-item>
  <ion-item>
    <!-- https://www.angulararchitects.io/en/blog/angular-signals-your-architecture-5-options/ -->
    <ion-select
      label="Location"
      [interfaceOptions]="locationPopoverOptions"
      interface="action-sheet"
      placeholder="Select location"
      [ngModel]="selectedLocation()"
      (ngModelChange)="selectedLocation.set($event)"
    >
      <ion-select-option value="">Anywhere</ion-select-option>
      @for (location of locations; track location.geoID) {
      <ion-select-option value="{{location.geoSlug}}"
        >{{location.geoName}}</ion-select-option
      >
      }
    </ion-select>
  </ion-item>
  <ion-item>
    <p>Showing results for: {{selectedLocation()}} {{selectedIndustry()}}</p>
  </ion-item>
  <ion-list>
    @for (job of jobs; track job.id) {

    <ion-grid>
      <ion-item button [routerLink]="['/details', job.id]">
        <!-- button [routerLink]=["'/details', job.id"] -->
        <ion-col size="3">
          <ion-thumbnail>
            <img alt="Company logo" src="{{ job.companyLogo }}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col size="9">
          <ion-label>
            <h2>{{ job.jobTitle}}</h2>

            <p>{{ job.companyName }}</p>
            <br />
            <p>
              <ion-icon name="globe-outline"></ion-icon
              ><strong>{{job.jobGeo}}</strong>
            </p>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-grid>

    }
    <!-- @for (job of jobs; track job.id) {
    <ion-item button [routerLink]="['/details', job.id]">
   
      <ion-thumbnail>
        <img alt="Company logo" src="{{ job.companyLogo }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ job.jobTitle}}</h2>
        <p>{{ job.companyName }}</p>
      </ion-label>

      <ion-badge slot="end"> {{ job.jobGeo}}</ion-badge>
    </ion-item>
    } -->
  </ion-list>
</ion-content>
