<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Latest Remote Jobs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (job of jobs; track job.id) {
    <ion-item button [routerLink]="['/details', job.id]">
      <!-- button [routerLink]=["'/details', job.id"] -->
      <ion-thumbnail>
        <img alt="Company logo" src="{{ job.companyLogo }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ job.jobTitle}}</h2>
        <p>{{ job.companyName }}</p>
      </ion-label>

      <ion-badge slot="end"> {{ job.jobGeo}}</ion-badge>
    </ion-item>
    }
  </ion-list>
</ion-content>
