<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="shareJob()">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light"
      >{{ job()?.jobTitle ?? "Job not found" }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (job(); as job) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size="2"
              ><ion-thumbnail>
                <img
                  alt="Company logo"
                  src="{{ job.companyLogo }}"
                /> </ion-thumbnail
            ></ion-col>
            <ion-col size="10">{{ job.jobTitle }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
      <ion-card-subtitle>{{ job.companyName }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button class="save-button" fill="outline" (click)="saveJob(job)"
        >Save
        <ion-icon size="small" slot="end" name="{{ bookmarkIcon }}"></ion-icon
      ></ion-button>
      <p>Annural Salary:</p>
      <ion-badge class="badge_style md">
        {{ job.annualSalaryMin }} - {{ job.annualSalaryMax }} {{
        job.salaryCurrency }}
      </ion-badge>
      <p>Job type:</p>
      <ion-badge class="badge_style">{{ job.jobType }}</ion-badge>
      <p>Location:</p>
      <ion-badge class="badge_style">{{ job.jobGeo }}</ion-badge>

      <p class="ion-padding-bottom">Posted: {{ job.pubDate }}</p>
      <h2 class="boldText">Job details</h2>
      <div
        class="job-description ion-padding-bottom"
        [innerHTML]="job.jobDescription"
      ></div>
      <ion-button class="padding_all badge_style" (click)="openBrowser()"
        >Open in browser&nbsp;<ion-icon name="open-outline"></ion-icon
      ></ion-button>
    </ion-card-content>
  </ion-card>
  }
</ion-content>
