.job-description {
    max-height: 400px;
    overflow: auto;
}

.save-button {
    float: right;
}

.boldText {
    font-weight: bold;
}


.badge_style {
    color: white;
}

.padding_all {
    padding: 16px;
}
// .ios ion-badge {
//     background-color: #6ebec4;
//     border-radius: 2px;
//   }

//   .ios ion-button {
//     background-color: #6ebec4;
//     color: white;
//     border-radius: 2px;
//   }
//   .ios ion-buttons {
//     color: white;
//   }
  
//   .ios ion-back-button {
//     color: white;
//   }

